::-webkit-scrollbar {
    width: 0.1vw;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
:root{
    --fontxsmall: 0.73vw;
    --fontsmall: 0.83vw;
    --fontmedium: 1vw;
    --fontlarge: 1.2vw;
    --fontxl: 1.4vw;
    --padlittle: clamp(5px, 0.5vw, 25px);
    --padmedium: clamp(10px, 0.7vw, 30px);
    --padlarge: clamp(15px, 1vw, 100px);
    --padlarger: clamp(20px, 1.2vw, 150px);
    --gap: clamp(0.7rem, 0.8vw, 2rem);
    --gaplarge: clamp(1rem, 1vw, 4rem);
    --radius: clamp(12px, 0.8vw, 30px);
}
.fxs{
    font-size: var(--fontxsmall);
}
.fs{
    font-size: var(--fontsmall);
}
.fm{
    font-size: var(--fontmedium);
}
.fl{
    font-size: var(--fontlarge);
}
.pointer{
    cursor: pointer;
}
.cap{
    text-transform: capitalize;
}
.upper{
    text-transform: uppercase;
}
.flexsmall{
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.flexlittle{
    display: flex;
    gap: calc(0.5 * var(--gap));
    align-items: center;
}
.right{
    justify-content: right;
}
.spacebetween{
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    align-items: center;
}
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.lilbold{
    font-weight: 500;
}
.hide-element{
    opacity: 0;
    position: absolute;
    z-index: -100;
    pointer-events: none;
    transform: translateY(20vh);
}
.hideban{
    opacity: 0;
    z-index: -100;
    pointer-events: none;
    position: absolute;
}
.lts{
    letter-spacing: 0.7px;
}
*{
    padding: 0;
    margin: 0;
    line-height: normal;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-style: normal;
}
body{
    background: url(images/background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glow{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(images/glow.svg) top left no-repeat;
}
main{
    position: relative;
    padding: 4.6%;
    width: 75vw;
    aspect-ratio: 1440/810;
    border-radius: calc(2 * var(--radius));
    border: 0.1vw solid #00D9B2;
    background:  url('images/adminbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.cancelAdmin{
    position: absolute;
    width: 3.5%;
    aspect-ratio: 1/1;
    right: 2vw;
    top: 2vw;
}
.content-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: calc(1.7 * var(--gaplarge));
}
aside{
    display: flex;
    gap: 1vw;
    flex-direction: column;
    justify-content: flex-end;
}
.players-online-container{
    display: flex;
    justify-content: space-between;
    padding: 1.04vw;
    align-items: center;
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: url(images/onlinebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.players-online-container p {
    color: rgba(255, 255, 255, 0.65);
    font-feature-settings: 'dlig' on;
    font-size: var(--fontsmall);
    font-weight: 400;
    letter-spacing: 0.8px;
}
.players-online{
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0.15625vw;
}
.refresh-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 0.625vw;
    background: rgba(255, 255, 255, 0.1) ;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.refresh-icon img{
    width: 12px;
}
.refresh-icon:hover{
    background: rgba(255, 255, 255, 0.15);
}
.refresh-icon:hover img{
    transform: rotate(-180deg);
}
.player-search{
    display: flex;
    align-items: center;
    gap: var(--gap);
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.03);
    padding: 1vw;
    margin-top: 0.3125vw;
}
.player-search input{
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: var(--fontsmall);
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 0.8px;
}
.player-search input::placeholder{
    color: rgba(255, 255, 255, 0.65);
    font-weight: 400;
    letter-spacing: 0.8px;
    font-size: var(--fontsmall);
}
.player-search svg{
    width: 1.1vw;
    aspect-ratio: 1/1;
}
.players{
    display: flex;
    flex-direction: column;
    gap: 0.3125vw;
    height: 22.9vw;
    overflow-y: scroll;
    padding-right: var(--padlittle);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.player{
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: var(--radius);
    padding: 1vw;
    display: flex;
    gap: var(--gap);
    background: url(images/playerbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
.player:hover{
    background-image: url(images/playerhoverbg.png);
}
.active{
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-image: url(images/playeractivebg.png);
}
.active:hover{
    background-image: url(images/playeractivebg.png);
}
.player h5{
    color: rgba(255, 255, 255, 0.50);
    font-size: var(--fontxsmall);
    font-weight: 600;
}
.player div{
    border-radius: calc(0.9 * var(--radius));
    border: 1px solid rgba(255, 255, 255, 0.65);
    width: 2.1vw;
    height: 2.1vw;
}
.player img{
    width: 100%;
    height: 100%;
}
.player article{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.player p{
    color: #FFF;
    font-feature-settings: 'dlig' on;
    font-size: var(--fontsmall);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}
.player-glow{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
}
.content-box{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    position: relative;
    justify-content: flex-end;
    height: 100%;
}
.job-rank-xp div:has(.job) svg{
    width: var(--fontmedium);
    aspect-ratio: 1/1;
}
#pages{
    margin-bottom: 1.6vh;
    gap: 0.5vw;
}
#pages div{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: url(images/pagenonactive.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: var(--fontxsmall);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.8px;
    padding: var(--padmedium);
    cursor: pointer;
}
.page-active{
    color: white !important;
    position: relative;   
    background: url(images/pageactive.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.whiteline{
    display: none;
}
.page-active .whiteline{
    display: block;
    border-radius: 10px;
border: 1px solid #FFF;
background: #FFF;
box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
width: 30px;
height: 1px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.page-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gaplarge);
    position: relative;
}
.page-header{
    color: rgba(255, 255, 255, 0.65);
    font-size: var(--fontxsmall);
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: space-between;
}
.initial{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2vw;
}
.player-info{
    padding: 1.4vw;
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: url(images/profileboxbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.personal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5vw;
}
.personal div, .helix-id-name div, .job-rank-xp, .actions, .ban-btns .flexsmall{
    padding: var(--padmedium);
    border-radius: calc(0.8 * var(--radius));
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: url(images/actionsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.personal div{
    background: url(images/profilebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.helix-id-name div{
    background: url(images/longnameidbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.personal div p {
    font-size: 0.625vw;
    color: rgba(255, 255, 255, 0.50);
}
.player-info .spacebetween p{
    color: rgba(255, 255, 255, 0.85);
    font-size: var(--fontxsmall);
    font-weight: 600;
    letter-spacing: 0.7px;
}
.line{
    flex: 1;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.helix-id-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5vw;
    align-items: center;
}
.helix-id-name h6{
    letter-spacing: 0.7px;
}
.helix-id-name p{
    color: rgba(255, 255, 255, 0.50);
}
.dot{
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    display: block;
}
.job-rank-xp{
    flex: 1;
    height: 100%;
    background: url(images/taxibg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.country-phone .flexlittle{
    justify-content: end;
}
.countrydetails{
    margin-top: 0.4vw;
}
.countrydetails img{
    width: 70%  !important;
}
.action-buttons{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.action-buttons section{
    display: block;
    width: 70%;
    margin:var(--padlittle) auto;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.actions, .ban-btns .flexsmall{
    padding: var(--padlittle);
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.actions:hover{
    background-image: url(images/actionshoverbg.png);
}
.action-buttons .actions{
    background: url(images/rightactionsbg.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.action-buttons .actions:hover{
    background-image: url(images/rightactionshoverbg.png) !important;
}
.action-buttons .active-action{
    background-image: url(images/rightactionsactivebg.png) !important;
}
.functions{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5vw;
}
.svgbox, .minisvgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1vw;
    aspect-ratio: 1/1;
    background: url(images/infobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.6vw;
    position: relative;
}
.righttop{
    width: 0.625vw !important;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0.2vw;
    right: 0.2vw;
}
.bottomglow{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.svgbox svg, .svgbox img, .minisvgbox svg, .minisvgbox img{
    width: 50%;
    aspect-ratio: 1/1;
}
.minisvgbox{
    width: 1.5vw;
    background: url(images/greenbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.4vw;
}
.gold{
    background: url(images/goldbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banpage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.ban-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.ban-content h5{
    color: #FFF;
    font-size: 1.25vw;
    font-weight: 700;
    letter-spacing: 3.36px;
    margin-bottom: 2.3vw;
}
.ban-content .headertext{
    color: rgba(255, 255, 255, 0.45) !important;
    font-size: 0.9375vw;
    font-weight: 600;
    letter-spacing: 1.8px;
}
.ban-content input, .ban-content textarea{
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
    flex: 1;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 5px;
}
.ban-content input::placeholder, .ban-content textarea::placeholder{
    color: rgba(255, 255, 255, 0.65);
}
.ban-content .flexlittle:has(textarea){
    position: relative;
    align-items: flex-start;
    margin-bottom: var(--padlittle);
}
.ban-content .flexlittle:has(textarea):hover, .ban-content .flexlittle:has(input):hover{
    background: rgba(255, 255, 255, 0.05);
}
.ban-content input{
    width: 5vw;
}
.ban-content .flexlittle{
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.45);
    background: rgba(255, 255, 255, 0.02);
    padding: var(--padlittle) var(--padmedium);
}
.hammersvg{
    width: 2.4vw;
    aspect-ratio: 1/1;
}
.ban-content .flexlittle svg{
    width: 0.9vw;
    aspect-ratio: 1/1;
}
.ban-btns{
    display: flex;
    gap: var(--gap);
    margin-top: 2vw;
    font-size: var(--fontsmall);
    font-weight: 400;
    letter-spacing: 0.8px;
}
.backtopageone{
    color: rgba(255, 255, 255, 0.45) !important;
}
.backtopageone:hover{
    color: rgba(255, 40, 40, 0.80) !important;
    border: 1px solid rgba(255, 40, 40, 0.25);
    background: rgba(255, 40, 40, 0.1);
}
.backtopageone:hover svg path{
    stroke: rgba(255, 40, 40, 1);
}
.backtopageone:hover .svgbox {
    background: rgba(255, 40, 40, 0.15) !important;
}
.confirmban{
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.80);
    flex: 1;
}
.confirmban:hover{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white !important;
}
.active-action{
    background-image: url(images/actionsactivebg.png);
    border: 1px solid rgba(0, 217, 178, 0.05);
}
.active-action .svgbox{
    background-image: url(images/activesvgbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.active-action svg path{
    fill: #00D9B2 !important;
}
.active-action .righttop path{
    fill: #473404 !important;
}
.active-action:hover{
    background:rgba(0, 217, 178, 0.15);
    opacity: 0.25;
}
.active-action:has(.bottomglow):hover{
    opacity: 1;
}
.active-action .bottomglow{
    display: block;
}
.hammerban{
    position: absolute;
    right: 0;
    z-index: 3;
    bottom: 0;
    width: 72%;
    height: 80%;
    backdrop-filter: blur(5px);
    background:  url(images/banbackground.svg) 100% no-repeat, url(images/hammer.svg) bottom right no-repeat, rgba(0, 0, 0, 0.1);
}
.maxlength{
    font-size: 0.625vw;
    position: absolute;
    bottom: var(--padmedium);
    right: var(--padmedium);
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 0.6px;
}
.wordcount{
    color: white;
}
.period{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padlittle);
    font-size: 0.625vw !important;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: var(--padmedium);
}
.period svg{
    width: calc(0.9 * var(--fontxsmall)) !important;
}
.period:hover{
    color: black;
    background: white;
    border-width: 0.1vw;
}
.period:hover svg path{
    fill: black;
}
.duration-active{
    color: rgba(0, 217, 178, 0.8);
    background: rgba(0, 217, 178, 0.05);
    border: 0.1vw solid rgba(0, 217, 178, 0.2);
}
.duration-active svg{
    transform: rotate(180deg);
}
.duration-active svg path{
    fill: rgba(0, 217, 178, 0.8);
}
.duration-cont{
    position: relative;
}
.duration{
    position: absolute;
    font-size: 0.625vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    right: -29%;
    top: 20%;
    border-radius: 0.5vw;
}
.duration div{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5vw;
    padding: 0.5vw;
    cursor: pointer;
    border-right: 0.15vw solid rgba(0, 0, 0, 0.25);
    border-left: 0.15vw solid rgba(0, 0, 0, 0.25);
}
.duration div:hover{
    background: rgba(0, 217, 178, 0.1);
    border: 0.15vw solid rgba(0, 217, 178, 0.2);
    color: rgba(0, 217, 178, 0.4);
}
.duration div:hover span{
    border: 0.1vw solid rgba(0, 217, 178, 1);
}
.duration span{
    display: block;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    border: 0.1vw solid rgba(0, 0, 0, 0.45);
    background: rgba(255, 255, 255, 0.90);
}
.weeks, .days{
    border: 0.15vw solid rgba(0, 0, 0, 0.25);
}
.days{
    border-bottom: 0;
}
.hours{
    border-top: 0.15vw solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5vw 0.5vw 0 0 ;
}
.months{
    border-bottom: 0.15vw solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0.5vw 0.5vw;
}
.option-picked{
    background: black !important;
}
.duration div:hover .option-picked{
    background: rgba(0, 217, 178, 1) !important;
}
.selected{
    text-transform: uppercase;
}
